/Lab 2/.ipynb_checkpoints
/Lab 3/.ipynb_checkpoints
/Lab 4/.ipynb_checkpoints
/Lab 3/data/gla-allotment-locations-shp
/Lab 3/data/gla-allotment-locations-tab
/Lab 3/data/London-wards-2018_ESRI
/Lab 3/data/London_data.csv
/Lab 3/data/gla-allotment-locations-tab
/Lab 3/data/gla-allotment-locations-shp
/Lab 3/london-ward-well-being-probability-scores.csv
/Lab 3/data/data-dimension-geolocation-20231031T231614Z-geolocation.parquet
/Lab 4/data_lab4/SG_SIMD_2020
/.ipynb_checkpoints

